#layout
{
    display: flex;
}

.footer
{
    align-self: flex-end;
}

.content-layout
{
  min-height: 850px;
  min-width: 1350px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50;
}

.book-content
{
  min-height: 850px;
  min-width: 1350px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 50;
  flex-direction: column;
}

.reservations-layout
{
  min-height: 850px;
  min-width: 1350px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 50;
  flex-direction: column;
}